.header-v2-top-left-image img{
    border-radius: 50% !important;
}

.header-v2{
    background: #4a4848de !important ;
}

.header-v2-top-left-text-title{
    font-size: 16px !important;
    color: white !important;
    text-transform: capitalize !important;
}

.extended-view
.composer-wrapper.v2
.composer.v2{
    display: none !important;
}

.extended-view
.composer-wrapper.v2{
    padding: unset !important;
}

.composer-branding{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}