.message-section-area{
    background-image: url(bg.png) !important;
    background-size: cover !important;
  }

  .message-section-messages{
    padding: 0 17px !important;
  }

  .quick-reply-option-text {
      padding: 10px !important;
  }
  .hsl-bubble-text.primary{
      color: black !important;
  }
  .hsl-bubble-text
  /* .message-section-message-row.from-business  */
  {
    background-color: white !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    /* box-shadow: 0px 1px 2px #26000000 !important; */
    /* box-shadow: 0px 1px 2px 0px #26000015 !important; */
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 15%) !important;
    padding: 10px !important;
    border: 0px solid #e6e6e6 !important;
  }

.header-v2-top-left-image img{
    border-radius: 50% !important;
}

.header-v2{
    background: #d64444d9 !important ;
}

.header-v2-top-left-text-title{
    font-size: 16px !important;
    color: white !important;
    text-transform: capitalize !important;
}

.extended-view
.composer-wrapper.v2
.composer.v2{
    display: none !important;
}

.extended-view
.composer-wrapper.v2{
    padding: unset !important;
}

.composer-branding{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.haptik-xdk-wrapper
.haptik-xdk-container
.xdk-iframe{
    max-height: 638px !important;
}

.header-v2-top-left-text-credentials{
    color: white !important;
    font-weight: 600 !important;
}